*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color: #0005;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

}
main{
    flex-grow: 1;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

a{
    color: rgb(84, 143, 26);
    
}

.item-container{
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    padding: 4px;
}
.item-container:hover{
    box-shadow: 0px 0px 5px #0008;
}
footer{
    background-color: #0005;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}